<div class="uk-position-top">
  <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-list">
        <li><a class="uk-navbar-item" href="#"><img data-src="assets/img/logo.svg" alt="" uk-img></a></li>
        <li class="sub-brand"><a href="https://ciudadaniai.org/" target="_blank">de Ciudadanía Inteligente</a></li>
      </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="#encuentro">El encuentro</a></li>
            <li><a href="#agenda">Agenda</a></li>
            <li><a href="#sobrefci">Sobre FCI</a></li>
            <li><a href="#sobretlaxcala">Sobre Tlaxcala</a></li>
            <li>
              <div class="uk-navbar-item">
                <a class="uk-button uk-button-primary">Contacto</a>
              </div>
            </li>
        </ul>
    </div>
  </nav>
</div>


<script>
  UIkit.scrollspy(element, options);
  UIkit.scroll(element, options).scrollTo(el);
</script>
