/* base*/
html, body {
  height: 100%;
  font-size: 0.95rem;
}

body {
  background-color: $stone-dark;
  font-family: 'karmilla', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  margin: 0;
  padding: 0;
}

a{
  color: $pink;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
   color: $pink;
   text-decoration: none;
}

::selection{
  background: $pink;
}

.uk-text-lead{
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
 color: $dark;
}

.text-highlight{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  line-height: 0.6;
}

/* Titles */
h1,
h2,
h3,
h4,{
	font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1{
	font-size: 6.5rem;
  font-weight: 800;
}

h2{
	font-size: 3.3rem;
}

h3{
	font-size: 2rem;
  line-height: 1.1;
}

h4{
	font-size: 1.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* Buttons */
.uk-button{
  border: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.uk-button-primary{
  background: $gradient-background;
  color: white;
}

.uk-button-default{
  background-color: $light !important;
}

.uk-button-default a{
  color: $pink !important;
}

.scroll-circle{
  color: white;
  padding: 10px;
	position: relative;
  margin-right: 5px;
}

.scroll-circle:before{
  content: '';
  height: 35px;
  width: 35px;
  border: 1px solid white;
  border-radius: 30px;
  position: absolute;
  top: 4%;
  left: 3%;
}

/* Navbar */
.uk-navbar{
  background: linear-gradient(180deg, #001718 8.33%, rgba(0, 23, 24, 0) 100%);
}

li.sub-brand a{
  color: white;
  position: relative;
  left: 25px;
  top: -39px;
}

li.sub-brand a:hover{
  color: $blue;
}

.uk-navbar-nav>li>a{
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.uk-navbar-nav>li>a:hover{
  color: $blue;
}

.menu-mobile{
  display: none;
}

/* Sections */
.uk-section-default{
  background-color: $light;
}
.uk-section-secondary{
  background-color: $stone-dark;
}
.uk-section-primary{
  background: $gradient-background;
}
.uk-section-muted{
  background-color: $stone-dark;
}

/* Fireflies */
.ff-1-90,
.ff-2-90{
  background-image: none;
}

.ff-1{
  background-image: url(/assets/img/ff-1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ff-2{
  background-image: url(/assets/img/ff-2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Containers */
.flex-container{
  display: flex;
  align-items: center;
}

.white-container{
  background-image: url(/assets/img/white-square.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  height: 460px;
}

/* Inverse */
.uk-light{
  font-weight: 700;
  color: white;
  p{
    color: white;
  }
}
.uk-dark{
  color: $dark;
  h3{
    color: $dark;
  }
}

/* Margins & Paddings */
.pg-top-130{
  padding-top: 130px;
}

.mg-top-60{
  margin-top: 60px;
}

.mg-bot-60{
  margin-bottom: 60px;
}

/* z-index */
.over-text-top{
  position: relative;
  z-index: 100;
  margin-top: -18px;
}

.over-text-left{
  position: relative;
  z-index: 100;
  margin-left: -100px;
}


/* Gradient blend */
.gradient-container{
    display: inline-block;
}

figure{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.gra-blue-lg-por figure,
.gra-blue-md-por figure,
.gra-blue-lg-lan figure,
.gra-blue-lg-lan figure,
.gra-red-lg-por figure,
.gra-red-md-por figure,
.gra-red-lg-lan figure,
.gra-red-lg-lan figure,{
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.gra-blue-lg-por figure:before,
.gra-blue-md-por figure:before,
.gra-red-md-por figure:before,
.gra-red-lg-lan figure:before,
{
  content: '';
  position: absolute;
  bottom: -300px;
  background-repeat: no-repeat;
  pointer-events: none;
}

.gra-blue-lg-por figure:before,
.gra-red-lg-por figure:before,{
  left: -20px;
  height: 800px;
  width: 400px;
  background-position: 0 0;
  background-size: auto 100%;
  opacity: 1;
  z-index: 1;
}

.gra-blue-lg-lan figure:before,
.gra-red-lg-lan figure:before,{
  left: -46px;
  height: 700px;
  width: 600px;
  background-position: 0 0;
  background-size: auto 100%;
  opacity: 1;
  z-index: 1;
}

.gra-blue-md-por figure:before,
.gra-red-md-por figure:before,{
  left: -20px;
  height: 800px;
  width: 400px;
  background-position: 0 0;
  background-size: auto 100%;
  opacity: 1;
  z-index: 1;
}

.gra-blue-lg-por figure:before,{
  background: linear-gradient(56.13deg, rgba(254, 58, 147, 0.7) 28.55%, rgba(4, 128, 133, 0.8) 75.5%);
}

.gra-blue-md-por figure:before,{
  background: linear-gradient(55.08deg, rgba(254, 58, 147, 0.7) 28.55%, rgba(4, 128, 133, 0.8) 75.5%);
}

.gra-red-md-por figure:before,{
  background: linear-gradient(55.08deg, rgba(254, 58, 147, 0.7) 28.55%, rgba(255, 72, 60, 0.6) 75.5%);
}

.gra-red-lg-lan figure:before,{
  background: linear-gradient(40.95deg, rgba(254, 58, 147, 0.7) 28.55%, rgba(255, 72, 60, 0.6) 75.5%);
}


/* Footer */
footer{
  padding: 30px 0 10px;
}

.footer-logo{
	margin-top: -20px;
}

.footer-icon{
  color: #3B3B3B;
  padding: 10px;
	position: relative;
  margin-right: 5px;
}

.footer-icon:before{
  content: '';
  height: 35px;
  width: 35px;
  border: 1px solid #DBE1E9;
  border-radius: 30px;
  position: absolute;
  top: 4%;
  left: 3%;
}

/* Off-canvas */
.uk-offcanvas-bar{
  background-color: $light;
  color: $dark;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.uk-offcanvas-bar a{
  color: $dark;
}

.uk-offcanvas-bar a:hover{
  color: $pink;
}

.uk-offcanvas-close.uk-close{
  color: $dark;
}
