---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'karmilla';
$base-font-weight: 400;
$base-line-height: 1.8;

$spacing-unit:     30px;

$pink:             #FE3A93;
$yellow:           #FFC224;
$red:              #FF483C;
$blue:             #12D0D8;
$stone:            #01585C;
$stone-dark:       #001D1E;
$dark:             $stone-dark;
$light:            white;
$medium:           $stone;

$gradient-background: linear-gradient(90.85deg, #FE3A93 11.02%, #FF483C 81.47%);


/* Base */

@font-face {
        font-family: 'karmilla';
        src:url('../fonts/karmilla-regular.eot');
        src:url('../fonts/karmilla-regular?#iefix') format('embedded-opentype'),
            url('../fonts/karmilla-regular.woff') format('woff'),
            url('../fonts/karmilla-regular.ttf') format('truetype'),
            url('../fonts/karmilla-regular.svg#karmilla-regular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

@font-face {
        font-family: 'karmilla';
        src:url('../fonts/karmilla-bold.eot');
        src:url('../fonts/karmilla-bold?#iefix') format('embedded-opentype'),
            url('../fonts/karmilla-bold.woff') format('woff'),
            url('../fonts/karmilla-bold.ttf') format('truetype'),
            url('../fonts/karmilla-bold.svg#karmilla-bold') format('svg');
        font-weight: bold;
        font-style: normal;
    }

@import "base";
